/build/
/.vscode/
/convex_mpc/__pycache__
/Miniconda3-latest-MacOSX-arm64.sh
/docs
/venv/
*.pyc

# Downloaded files
Go2_URDF.zip
unitree_mujoco/
GO2_URDF/

# Exclude history folders from third-party packages
third_party/**/.history/

# Simulation results
simulation_results/
